pre {
    padding: 1em;
    background-color: #f8f8f8;
    border-radius: 0.5em;
    overflow-x: auto;
  }
  
  code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  }
  